.project-card {
    width: 55rem;
    box-sizing: border-box;

    .p-card-body {
        height: 100%;
        box-sizing: border-box;

        .p-card-content {
            padding: 0.5rem 0 !important;
            height: 75%;
            box-sizing: border-box;
        }
    }
}